@font-face {
  font-family: "AA Bebas Neue";
  font-display: swap;
  src: url("../fonts/AABebasNeue.woff2") format("woff2"), url("../fonts/AABebasNeue.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --font-family: "Arial", sans-serif;
  --second-family: "AA Bebas Neue", sans-serif;
  --third-family: "Futura PT", sans-serif;
  --font3: "Inter", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  -webkit-font-feature-settings: "lnum" 1;
          font-feature-settings: "lnum" 1;
}

ul {
  list-style: none;
}

section {
  scroll-margin-top: 30px;
}

body {
  -webkit-text-size-adjust: none;
}
body.active {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

button {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background: none;
}

b,
span,
a {
  color: inherit;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  font-family: inherit;
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 55px;
  letter-spacing: 0.02em;
  color: #304352;
}
@media (max-width: 1440px) {
  h2 {
    font-size: calc(32px + 23 * (100vw - 360px) / 1080);
  }
}

h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.02em;
  color: #304352;
}
@media (max-width: 1440px) {
  h1 {
    font-size: calc(36px + 24 * (100vw - 360px) / 1080);
  }
}

.container-h1 {
  display: none;
}

img {
  display: block;
}

.container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.crumbs {
  z-index: 5;
  padding: 150px 0 46px;
  position: relative;
}
.crumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 9px;
  gap: 0 1px;
  overflow-x: auto;
}
@supports (-moz-appearance: none) {
  .crumbs ul {
    scrollbar-color: #304352 rgba(30, 30, 30, 0.5);
  }
}
.crumbs ul::-webkit-scrollbar {
  border-radius: 10px;
  width: 1px;
  height: 1px;
  background-color: #555554;
  opacity: 1;
  visibility: visible;
}
.crumbs ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #304352;
  opacity: 1;
  visibility: visible;
}
.crumbs ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #555554;
  opacity: 1;
  visibility: visible;
}
.crumbs ul li p,
.crumbs ul li a {
  white-space: nowrap;
  font-size: 20px;
}
.crumbs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
  color: #304352;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.crumbs ul li a::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23929292' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.crumbs ul li p {
  padding-right: 20px;
  color: #929292;
}

.more {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  color: #304352;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  padding: 5px 13px;
  border: 1px solid #304352;
  border-radius: 10px;
}
.more::after {
  display: block;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 3.5L7 8.5L2 13.5' stroke='%23304352' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 10px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}
.more:hover {
  color: var(--white);
  gap: 10px;
}
.more:hover::after {
  width: 24px;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  display: block;
  cursor: pointer;
  background: url("../img/close.svg") center center/contain no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 0px;
}

input[type=search] {
  -moz-appearance: searchfield !important;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 32px 0 15px;
  background: #fff;
  z-index: 100;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__logo img {
  width: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.header__search {
  position: relative;
  max-width: 340px;
  width: 100%;
}
.header__search input {
  background: rgba(234, 236, 238, 0.24);
  border-radius: 20px;
  padding: 20px 55px 20px 23px;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  border: none;
}
.header__search input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #929292;
}
.header__search input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #929292;
}
.header__search input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #929292;
}
.header__search input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #929292;
}
.header__search input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #929292;
}
.header__search button {
  position: absolute;
  right: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../img/search.svg") center center/contain no-repeat;
}
.header__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header .nav__link {
  font-weight: 400;
  font-size: 20px;
  color: #304352;
}

.main {
  margin-bottom: 120px;
}
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}
.main__items {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: 1fr 1fr 2fr;
}
.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 16/11;
  border-radius: 20px;
}
.main__item:nth-child(3) {
  background: #304352;
  border-radius: 20px;
  padding: 35px 32px 34px 52px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__item:nth-child(3) .main__item-date {
  text-align: right;
}
.main__item:nth-child(3) .main__item-date,
.main__item:nth-child(3) .main__item-link {
  color: #e8e8e8;
  font-size: 18px;
}
.main__item:nth-child(3) .main__item-title {
  font-size: 48px;
  line-height: 105%;
  color: #fff;
}
.main__item-img {
  display: block;
  margin-bottom: 21px;
}
.main__item-inner {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.main__item-date {
  font-weight: 400;
  font-size: 13px;
  color: #929292;
}
.main__item-link {
  font-weight: 400;
  font-size: 13px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #304352;
}
.main__item-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: #304352;
  display: block;
  margin-bottom: 10px;
  max-width: 500px;
}
.main__item-text {
  font-weight: 400;
  font-size: 18px;
  color: #304352;
}

.main-reverse .main__item:nth-child(3) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.main-reverse .main__items {
  grid-template-columns: 2fr 1fr 1fr;
}

.burger {
  border-radius: 100%;
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.burger span {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  background: #304352;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -4px;
}

.footer {
  background: #121212;
  padding: 49px 0 25px;
  margin-top: 120px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin-bottom: 75px;
}
.footer__logo img {
  width: 160px;
}
.footer__wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__socials {
  margin-bottom: 40px;
}
.footer__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.footer__socials ul li img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__contacts {
  margin-bottom: 60px;
}
.footer__contacts ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer__contacts ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
}
.footer__contacts ul li a img {
  width: 31px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__link {
  font-size: 16px;
  line-height: 1.3;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 29px;
}
.footer__copyright p {
  font-size: 13px;
  color: #fff;
  margin-right: auto;
}
.footer__copyright a {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__copyright a:hover {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer .nav {
  width: 100%;
}
.footer .nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .nav__title {
  font-size: 18px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-bottom: 10px;
}
.footer .nav__icon {
  display: none;
}
.footer .nav__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer .nav__link {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.footer .nav__link:hover {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

@media (max-width: 1250px) {
  .footer__link {
    font-size: 14px;
  }
  .footer__contacts ul li a {
    font-size: 17px;
  }
  .footer__wrapper {
    gap: 30px;
  }
  .footer__logo img {
    width: 140px;
  }
  .main__item:nth-child(3) .main__item-title {
    font-size: 40px;
  }
  .main-reverse .main__items {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
  .main__items {
    grid-template-columns: 1fr 1fr 1.5fr;
  }
  .header__socials ul {
    gap: 20px;
  }
  .header__logo img {
    width: 140px;
  }
  .header .nav__link {
    font-size: 16px;
  }
  .header .nav__list {
    gap: 20px;
  }
  .header__inner,
  .header__wrapper {
    gap: 30px;
  }
}
@media (max-width: 1025px) {
  .footer .nav__link {
    font-size: 15px;
  }
  .footer__logo img {
    width: 100px;
  }
  .footer__wrap {
    display: none;
  }
  .container-h1 {
    display: block;
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .crumbs {
    display: none;
  }
  .main-reverse .main__item:nth-child(3) {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .main__item:nth-child(3) {
    width: 100%;
    min-height: 223px;
    gap: 51px;
  }
  .main__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__item {
    width: calc(50% - 10px);
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger,
  .header__logo {
    position: relative;
    z-index: 101;
  }
  .header .nav__link {
    font-size: 20px;
  }
  .header__search {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 100%;
  }
  .header__wrapper {
    position: relative;
  }
  .header__wrapper::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 62px;
    background: #fff;
    z-index: 101;
  }
  .header__inner {
    overflow-y: auto;
    padding: 100px 20px 60px;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 40px;
  }
  .header__inner.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .header .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 769px) {
  .footer {
    padding: 25px 0 68px;
    margin-top: 80px;
  }
  .footer__copyright p {
    width: 100%;
  }
  .footer__copyright {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .footer .nav__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    margin-bottom: 0;
    max-width: 125px;
    width: 100%;
  }
  .footer .nav__title + ul {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    will-change: max-height;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .footer .nav__title.open + ul {
    padding-top: 20px;
    opacity: 1;
    visibility: visible;
  }
  .footer .nav__title.open .nav__icon {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .footer .nav__icon {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .footer .nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 21px;
  }
  .footer .nav__inner > li {
    overflow: hidden;
  }
  .footer__wrapper {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .header {
    padding-top: 22px;
  }
  .header__logo img {
    width: 74px;
  }
  .container-h1 {
    margin-top: 86px;
  }
  .main__item:nth-child(3) .main__item-title {
    font-size: 20px;
  }
  .main__item:nth-child(3) {
    border-radius: 10px;
    padding: 17px 16px 16px 26px;
  }
  .main__item-text {
    display: none;
  }
  .main__item-title {
    font-size: 16px;
  }
  .main__item:nth-child(3) .main__item-date,
  .main__item:nth-child(3) .main__item-link,
  .main__item-date,
  .main__item-link {
    font-size: 10px;
  }
  .more {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 13px;
    gap: 8px;
    padding: 6px 13px;
  }
  .main__inner {
    margin-bottom: 30px;
  }
  .main {
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 51px;
  }
}