.footer {
    background: #121212;
    padding: 49px 0 25px;
    margin-top: 120px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 75px;
    }

    // .footer__logo

    &__logo {
        img {
            width: 160px;
        }
    }

    // .footer__title

    // .footer__wrap

    &__wrap {
        flex-shrink: 0;
    }

    // .footer__socials

    &__socials {
        margin-bottom: 40px;
        ul {
            display: flex;
            align-items: center;
            gap: 35px;
            li {
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }
    }

    // .footer__contacts

    &__contacts {
        margin-bottom: 60px;
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: 400;
                    font-size: 20px;
                    color: #fff;
                    white-space: nowrap;
                    img {
                        width: 31px;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    // .footer__link

    &__link {
        font-size: 16px;
        line-height: 1.3;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;
        display: block;
        width: fit-content;
    }

    // .footer__copyright

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 29px;
        p {
            font-size: 13px;
            color: #fff;
            margin-right: auto;
        }
        a {
            font-size: 10px;
            color: rgba(255, 255, 255, 0.6);
            &:hover {
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }
        }
    }
    .nav {
        width: 100%;
        // .nav__inner

        &__inner {
            display: flex;
            width: 100%;
            gap: 30px;
            justify-content: space-between;
        }
        &__title {
            font-size: 18px;
            color: #fff;
            width: fit-content;
            display: block;
            margin-bottom: 10px;
        }
        // .nav__icon

        &__icon {
            display: none;
        }

        // .nav__list

        &__list {
        }

        // .nav__item

        &__item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        // .nav__link

        &__link {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.7);
            &:hover {
                text-decoration: underline;
                text-decoration-skip-ink: none;
            }
        }
    }
}
.container {
}
