@media (max-width: 1250px) {
    .footer__link {
        font-size: 14px;
    }
    .footer__contacts ul li a {
        font-size: 17px;
    }
    .footer__wrapper {
        gap: 30px;
    }

    .footer__logo img {
        width: 140px;
    }
    .main__item:nth-child(3) .main__item-title {
        font-size: 40px;
    }
    .main-reverse .main__items {
        grid-template-columns: 1.5fr 1fr 1fr;
    }
    .main__items {
        grid-template-columns: 1fr 1fr 1.5fr;
    }
    .header__socials ul {
        gap: 20px;
    }
    .header__logo img {
        width: 140px;
    }
    .header .nav__link {
        font-size: 16px;
    }
    .header .nav__list {
        gap: 20px;
    }
    .header__inner,
    .header__wrapper {
        gap: 30px;
    }
}

@media (max-width: 1025px) {
    .footer .nav__link {
        font-size: 15px;
    }
    .footer__logo img {
        width: 100px;
    }
    .footer__wrap {
        display: none;
    }
    .container-h1 {
        display: block;
        margin-top: 150px;
        margin-bottom: 40px;
    }
    .crumbs {
        display: none;
    }
    .main-reverse .main__item:nth-child(3) {
        order: initial;
    }
    .main__item:nth-child(3) {
        width: 100%;
        min-height: 223px;
        gap: 51px;
    }
    .main__items {
        display: flex;

        flex-wrap: wrap;
    }
    .main__item {
        width: calc(50% - 10px);
    }
    .burger {
        display: flex;
    }
    .burger,
    .header__logo {
        position: relative;
        z-index: 101;
    }
    .header .nav__link {
        font-size: 20px;
    }
    .header__search {
        order: -1;
        max-width: 100%;
    }
    .header__wrapper {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 62px;
            background: #fff;
            z-index: 101;
        }
    }
    .header__inner {
        overflow-y: auto;
        padding: 100px 20px 60px;
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 100;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;

        &.active {
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
    .header .nav__list {
        flex-direction: column;
    }
}

@media (max-width: 769px) {
    .footer {
        padding: 25px 0 68px;
        margin-top: 80px;
    }
    .footer__copyright p {
        width: 100%;
    }

    .footer__copyright {
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer .nav__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 0;
        max-width: 125px;
        width: 100%;
        + ul {
            max-height: 0;
            opacity: 0;

            visibility: hidden;
            will-change: max-height;
            transition: all 0.3s ease-out;
            box-sizing: content-box;
        }
        &.open {
            + ul {
                padding-top: 20px;
                opacity: 1;
                visibility: visible;
            }
            .nav__icon {
                transform: rotate(180deg);
            }
        }
    }
    .footer .nav__icon {
        transition: all 0.3s ease-out;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        flex-shrink: 0;
    }
    .footer .nav__inner {
        flex-direction: column;
        gap: 21px;
        > li {
            overflow: hidden;
        }
    }
    .footer__wrapper {
        gap: 24px;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .header {
        padding-top: 22px;
    }
    .header__logo img {
        width: 74px;
    }
    .container-h1 {
        margin-top: 86px;
    }
    .main__item:nth-child(3) .main__item-title {
        font-size: 20px;
    }
    .main__item:nth-child(3) {
        border-radius: 10px;
        padding: 17px 16px 16px 26px;
    }
    .main__item-text {
        display: none;
    }
    .main__item-title {
        font-size: 16px;
    }
    .main__item:nth-child(3) .main__item-date,
    .main__item:nth-child(3) .main__item-link,
    .main__item-date,
    .main__item-link {
        font-size: 10px;
    }
    .more {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        font-size: 13px;

        gap: 8px;

        padding: 6px 13px;
    }
    .main__inner {
        margin-bottom: 30px;
    }
    .main {
        position: relative;
        margin-bottom: 35px;
        padding-bottom: 51px;
    }
}
